<%= form_for @blog_post, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %>
  </div>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %>
  </div>
  <div class="field">
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :content %>
  </div>
  <div class="field">
    <%= f.text_area :body, :rows => 20, :class=>"col-md-12" %>
  </div>
  <div class="field">
    <%= f.label "Publish this post" %>
  </div>
  <div class="field">
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit :submit %>
  </div>
<% end %>
