<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        <%= 'Title' %>
      </th>
      <th>
        <%= 'Preview' %>
      </th>
      <th>
        <%= 'Author' %>
      </th>
      <th>
        <%= 'Created At' %>
      </th>
      <th>
        <%= 'Actions' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <%= render :partial => '/blog_posts/abridged_blog_post', :locals => { :blog_post => blog_post } %>
    <% end %>
    <%= render(:partial => '/blog_posts/pager', :locals => { :blog_posts => @blog_posts }) %>
  </tbody>
</table>
